body{
    background-color: #AAA;
}

.jumbotron{
    background-color: rgba(0, 0, 0, 0.05);
}

.table, .pesquisa-tabela{
    max-width: 90%;
    margin-top: 5pt;
    margin-left: auto;
    margin-right: auto;
}

.form-contato{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-contato > .form-control, .form-contato > .btn{
    margin-top: 5pt;
}

.selecionado{
    background-color: rgba(117, 0, 0, 0.774);
}

.form-control{
    margin-top: 5pt;
}
